<!DOCTYPE html>
<html class="js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

  <title>{{ shop.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ content_for_header }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
</head>
<body id="{{ page_title | handleize }}" class="{{ template }}">

  {% sections 'hrader-group' %}

  {{ content_for_layout }}


   {% section 'footer' %}
</body>
</html>